html,
body {
    padding: 0 20%;
    background-color: rgb(124, 211, 124);
}

nav {
    /* background-color: rgb(72, 190, 72); */
    color: white;
}

nav h1 {
    font-size: 40px;
}

.chat {
    padding: 10px;
    background-color: rgba(40, 130, 70, 0.741);
    border-radius: 10px;
}

.msg {
    background-color: lightgreen;
    padding: 5px;
    border-radius: 10px;
}

.newbtn {
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    background-color: rgba(40, 130, 70, 0.741);
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}